::selection {
  background: #00ffac;
  color: #fff;
  text-shadow: none;
}

body {
  font-family: Arial;
}

a {
  color: #3844da;
}

a:focus,
a:hover {
    text-decoration: none;
    color: #8038da;
}


blockquote {
  color: #818a91;
  font-style: italic;
}

hr {
  margin: 1.5rem 0;
}

/* ------------------------------------------------------------------------- */

.container {
  max-width: 960px;
}

.footer {
  padding: 1.5rem 0 .5rem;
}

.header {
  border-bottom: 1px solid rgba(0,0,0,.1);
}

.header .col-sm-5.header-right {
    padding-left: 0;
}

.header img {
  margin-bottom: 1rem;
}

.header .title {
  margin-top: 1rem;
  margin-bottom: 1rem;
  margin-right: -2rem;
}

.header .subtitle-row {
	margin-top: -15px;
	margin-bottom: -5px;
}

.sticky {
  position: fixed;
  width: 100%;
  background: white;
}

.header ul,
.header li {
  margin-bottom: .5rem;
}

.header li a {
  color: #6c757d;
}
.header li a:focus,
.header li a:hover {
    color: #8038da;
}


.header ul {
  margin-top: 1.5rem;
  font-size: 1.25rem;
  font-weight: 300;
}

.header .nav-menu-custom {
    text-align: right;
}

.header .nav-link-custom {
	margin-top: 0.5rem;
    font-size: 1.5rem;
}

.main {
  background-color: #fff;
  padding: 1.5rem 0;
}

.main .title a {
	color: #3844da;
}

.main a {
  color: #333;
}

.main a:focus,
.main a:hover {
    color: #8038da;
}

.main p, .main div.content {
	text-align: justify;
}


/* table styles */
table {
    width: 100%;
    margin: .5em 0 2em;
}
thead {
	background: #c6caf7;
}
th, td {
    padding: 0 5px;
}
td {
    border-left: #c6caf7 dashed 1px;
    border-right: #c6caf7 dashed 1px;
    border-bottom: #c6caf7 dashed 1px;
}

.centered {
	text-align: center;
}
.scaled img {
	width: 100%;
}

.footer {
  border-top: 1px solid rgba(0,0,0,.1);
}

.highlight pre {
  border: 1px solid rgba(0,0,0,.1);
  padding: 1rem;
}

.pagination .page-link {
  color: #333;
}

.teaser header ul {
  list-style: none;
  padding-left: 0;
}

.teaser header li {
  margin-bottom: .5rem;
}

.teaser .content p {
  margin-bottom: 0;
}

.article header ul,
.article header li {
  margin-bottom: .5rem;
}

.article header li:not(:last-child) {
  margin-right: 10px;
}

.article .content a {
  text-decoration: underline
}

article.article h1 {
	color: #6c757d;
    font-size: 2rem;
    font-weight: bold;
    margin-top: 3rem;
}

article.article h2 {
	font-size: 1.5rem;
	color: #3844da;
	margin-top: 1.5rem;
}

.highlight {
	color: #3844da;
	font-weight: bold;
}

/* Lists styles */
ol>li>p {
    margin-bottom: 0;
}
ul>li {
    margin-bottom: 0.3rem;	
}
ol>li {
    margin-bottom: 1rem;	
}

/* About page styles */
.table-custom {
    margin-bottom: 2rem;
    margin-top: -1rem;
	border: none;
}

.table-custom thead {
    color: #6c757d;
    font-size: 1.25rem;
}

.table-custom td {
	padding: 0 4rem 0 0;
	font-size: .95rem;
}














@media (min-width: 576px) {
  .header .title {
    font-size: 2.5rem;
  }
}

@media (max-width: 576px) {
  .header,
  .footer {
    text-align: center;
  }

  .teaser header li {
    display: inline-block;
  }

  .teaser header li:not(:last-child) {
    margin-right: 10px;
  }
}
